@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}
.outerbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerbox{
    height: 600px;
    width: 500px;
    background-color: black;
    border-radius: 8px;
}
.numbers{
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.num{
     margin: 5px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
}
.ans{
     margin: 5px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
}
#answer{
    grid-row: span 2;
}
#n0{
    grid-column: span 3;
}
.input{
    width: 480px;
    background-color: aquamarine;
    height: 180px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.but{
    margin: 5px;
   font-size: 30px;
   cursor: pointer;
}
.cl{
    display: none;
}
.previous{
    height: 90px;
    width: 480px;
    display:flex ;
    flex-direction: row-reverse;
    font-size: 4rem;
    color: rgb(101, 100, 100);


}
#current{
    height: 90px;
    width: 480px;
    display:flex ;
    flex-direction: row-reverse;

}
.current{
    height: 90px;
    width: 480px;
    display:flex ;
    background-color: aquamarine;
    flex-direction: row-reverse;
    font-size: 50px;
    font-family: "Orbitron",Poppins, serif;
}
.cancels
{
    margin: 5px;
    font-size: 30px;
    cursor: pointer;    
}
.ans
{
    margin: 5px;
    font-size: 30px;
    cursor: pointer;    
}